.left-stretch-bar {
  cursor: ew-resize;
  background: #12171d;
  width: 0.25em;
  height: 0.25em;
  transition: 233ms; 
   transition-property: background;
}
.left-stretch-bar:hover {
  background: #567091;
  height: 0.35em;
  width: 0.35em;
}
